<template>
  <v-form @submit.prevent='submit'>
    <v-container>
      <v-row>
        <v-col
          cols='12'
          lg='6'
        >
          <v-text-field
            v-model='url'
            :label="$t('url')"
            name='url'
            single-line
            type='url'
          />
        </v-col>

        <v-col
          cols='12'
          lg='6'
        >
          <v-text-field
            v-model='key'
            :label="$t('key')"
            :append-icon="showKey ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showKey ? 'text' : 'password'"
            name='key'
            single-line
            @click:append='showKey = !showKey'
          />
        </v-col>
        <v-btn
          class='mr-4'
          type='submit'
        >
          {{ $t('submit') }}
        </v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      showKey: false
    }
  },
  computed: {
    key: {
      get() {
        return this.$store.state.login.key
      },
      set(key) {
        this.$store.dispatch('login/persist', { key, url: this.url })
      }
    },
    url: {
      get() {
        return this.$store.state.login.url
      },
      set(url) {
        this.$store.dispatch('login/persist', { url, key: this.key })
      }
    }
  },
  methods: {
    submit() {
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>

</style>
