<template>
  <v-row class='mt-6' dense>
    <v-col cols='10'>
      <SearchBox />
    </v-col>
    <v-col cols='2'>
      <SearchRefinementList />
    </v-col>
    <v-spacer />
  </v-row>
</template>

<script>
export default {}
</script>

<style scoped>

</style>
