<template>
  <v-app dark>
    <v-navigation-drawer
      v-model='drawer'
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for='(item, i) in items'
          :key='i'
          :to='item.to'
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text='item.title' />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      fixed
      app
      hide-on-scroll
    >
      <v-app-bar-nav-icon @click.stop='drawer = !drawer' />
      <slot name='extension' />
    </v-app-bar>
    <v-main>
      <v-container>
        <slot />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      showKey: false,
      drawer: false,
      items: [
        {
          icon: 'mdi-text-box-search-outline',
          title: this.$t('search'),
          to: '/'
        },
        {
          icon: 'mdi-lock',
          title: this.$t('credentials'),
          to: '/credentials'
        }
      ],
      title: 'Summarizer'
    }
  }
}
</script>
