<template>
  <v-card class='fill-height bm--border' flat>
    <v-card-title>
      <a :href='item.html_url' class='bm--text'
         target='_blank'>{{ item.name ? $helper.shortenTitle(item.name) : $helper.shortenTitle(item.html_url) }}</a>
    </v-card-title>
    <v-card-text>
      {{ item.description ? item.description : item.html_url }}
    </v-card-text>
    <v-card-actions>
      <v-btn v-if="item.homepage !== ''" :href='item.homepage' class='bm--text' link target='_blank' text>
        {{ $t('homepage') }}
      </v-btn>
      <v-spacer />
      <v-avatar size='25'>
        <img alt='firefox' src='~/assets/firefox.svg' />
      </v-avatar>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.bm--text {
  color: #9153f9;
}

.bm--border {
  border: 1px solid #9153f9;
}
</style>
