<template>
  <v-card class='fill-height gh--border' flat>
    <v-card-title>
      <a :href='item.html_url' class='gh--text' target='_blank'>{{ $helper.shortenTitle(item.name) }}</a>
      <v-spacer />
      <v-chip color='#24292e' label outlined small>{{ item.stars }}</v-chip>
    </v-card-title>
    <v-card-subtitle class='gh--text'>{{ item.full_name }}</v-card-subtitle>
    <v-card-text>
      {{ item.description }}
    </v-card-text>
    <v-card-actions>
      <v-btn v-if='item.homepage' :href='item.homepage' class='gh--text' link target='_blank' text>
        {{ $t('homepage') }}
      </v-btn>
      <v-btn v-else :href='item.html_url' class='gh--text' link target='_blank' text>
        {{ $t('homepage') }}
      </v-btn>
      <v-spacer />
      <v-avatar size='25'>
        <img alt='github' src='~/assets/github.svg' />
      </v-avatar>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.gh--text {
  color: #24292e;
}

.gh--border {
  border: 1px solid #24292e;
}
</style>
