<template>
  <v-card class='fill-height hn--border' flat>
    <v-card-title class='red--text'>
      <a :href='item.html_url' class='hn--text' target='_blank'>{{ $helper.shortenTitle(item.name) }}</a>
    </v-card-title>
    <v-card-text>
      {{ item.description }}
    </v-card-text>
    <v-card-actions>
      <v-btn v-if="item.homepage !== ''" :href='item.homepage' class='hn--text' link target='_blank' text>
        {{ $t('homepage') }}
      </v-btn>
      <v-spacer />
      <v-avatar size='25'>
        <img alt='ycombinator' src='~/assets/ycombinator.svg' />
      </v-avatar>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.hn--text {
  color: #FF6600;
}

.hn--border {
  border: 1px solid #FF6600;
}
</style>
