<template>
  <ais-search-box>
    <template slot-scope='{ currentRefinement, isSearchStalled, refine }'>
      <v-text-field
        :value='currentRefinement'
        :label="$t('search')"
        single-line
        solo
        flat
        dense
        clearable
        :loading='isSearchStalled'
        @input='refine($event)'
      />
    </template>
  </ais-search-box>
</template>

<script>
export default {}
</script>

<style scoped>

</style>
