<template>
  <ais-refinement-list
    attribute='type'
  >
    <div
      slot-scope='{
      items,
      refine,
    }'>
      <v-menu offset-y>
        <template #activator='{ on, attrs }'>
          <v-btn
            icon
            large
            tile
            v-bind='attrs'
            v-on='on'
          >
            <v-icon>mdi-filter-menu</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item-group multiple>
            <v-list-item
              v-for='(item) in items'
              :key='item.value'
              :value='item.value'
              color='primary'
              @click='refine(item.value)'
            >
              <v-list-item-title>{{ item.label }}</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
    </div>
  </ais-refinement-list>
</template>

<script>
export default {}
</script>

<style scoped>

</style>
