<template>
  <ais-instant-search :search-client='searchClient' index-name='repos'>
    <AppLayout>
      <HitsList />
      <template #extension>
        <AppBar />
      </template>
    </AppLayout>
  </ais-instant-search>
</template>

<script>
import { instantMeiliSearch } from '@meilisearch/instant-meilisearch'
import { mapGetters, mapState } from 'vuex'

export default {
  middleware({ store, redirect }) {
    if (store.getters['login/isNotReady']) {
      redirect('/credentials')
    }
  },
  computed: {
    ...mapState('login', ['key', 'url']),
    ...mapGetters('login', ['isNotReady']),
    searchClient() {
      if (this.isNotReady) return null
      return instantMeiliSearch(
        this.url,
        this.key
      )
    }
  }
}
</script>

<style>
</style>
