<template>
  <ais-infinite-hits>
    <template #default='{ items, refineNext, isLastPage}'>
      <v-row>
        <v-col v-for='(item, index) in items' :key='index' cols='12' lg='6' xl='4'>
          <HitsCardGithub v-if='item.type === "gh"' :item='item' />
          <HitsCardHackernews v-else-if='item.type === "hn"' :item='item' />
          <HitsCardBookmark v-else-if='item.type === "bm"' :item='item' />
        </v-col>
      </v-row>
      <HitsNavigation :is-last-page='isLastPage' :refine-next='refineNext' />
    </template>
  </ais-infinite-hits>
</template>

<script>
export default {}
</script>

<style scoped>

</style>
