<template>
  <v-bottom-navigation app hide-on-scroll>
    <v-btn @click='scrollToTop'>
      <span>{{ $t('scrollToTop') }}</span>
      <v-icon>mdi-mouse-move-up</v-icon>
    </v-btn>
    <v-btn v-if='!isLastPage' @click='refineNext'>
      <span>{{ $t('showMore') }}</span>
      <v-icon>mdi-book-open-page-variant</v-icon>
    </v-btn>
    <v-btn @click='scrollToBottom'>
      <span>{{ $t('scrollToBottom') }}</span>
      <v-icon>mdi-mouse-move-down</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  props: {
    refineNext: {
      type: Function,
      required: true
    },
    isLastPage: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    scrollToTop() {
      this.$vuetify.goTo(0)
    },
    scrollToBottom() {
      this.$vuetify.goTo(document.body.scrollHeight)
    }
  }
}
</script>

<style scoped>

</style>
